article#main.e404 {
  text-align: center;

  p {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    font: 24px Arial,sans-serif;
    cursor: default;

    span.left.eye {
      vertical-align: 4px;
      line-height: 0;
      font-size: 90%;
    }

    span.arm {
      position: absolute;
      top: 3px;
      white-space: nowrap;
      @include vendor(transition, all 0.3s);

      &.left {
        right: 100%;
        margin-right: 3px;
        @include vendor(transform-origin, 100% 100%);
        @include vendor(transform, rotate(20deg));
      }

      &.right {
        left: 100%;
        margin-left: 4px;
        @include vendor(transform-origin, 0% 100%);
        @include vendor(transform, rotate(-20deg));
      }
    }

    &:hover span.arm { top:0; }
    &:hover span.left.arm { @include vendor(transform, rotate(0)); }
    &:hover span.right.arm { @include vendor(transform, rotate(0)); }
  }
}
