@mixin vendor($attr, $vals...) {
  @each $vendor in webkit, moz, ms, o {
    -#{$vendor}-#{$attr}:$vals;
  }
  $attr:$vals;
}

@mixin background-gradient($from, $to) {
  @each $vendor in webkit, moz, ms, o {
    background-image:-#{$vendor}-linear-gradient(top, $from, $to);
  }
  background-image:linear-gradient(top, bottom, $from, $to);
}
