---
layout: default
title: Portfolio
samples:
- title: Websites
  images: [cashnetusa, poundstopocket]
- title: Designs
  images: [chain-contingency, red-dev]
---
{% for sample in page.samples %}
  <section id='{{ sample.title | downcase }}' class='block'>
    <h1>{{ sample.title }}</h1>
    <ul>
      {% for image in sample.images %}
        <li><a href='/samples/{{ image }}.png'><img class='thumb' src='/samples/{{ image }}-thumb.png' alt='{{ image }}' /></a></li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
