/* #f8b800 - gold
 * #faca40 - gold+1
 * #fcdc80 - gold+2
 * #fdedbf - gold+3
 *
 * #ba8a00 - gold-1
 * #7c5c00 - gold-2
 * #3e2e00 - gold-3
 *
 * #e40058 - red
 * #ab0042 - red-1
 * #72002c - red-2
 * #390016 - red-3
 *
 * #eb4082 - red+1
 * #f280ac - red+2
 * #f8bfd5 - red+3
 */

* { margin:0; padding:0; font-size:inherit; }
body { width:960px; color:#72002c; background:#fdedbf; margin:0 auto; padding:0; font:14px Helvetica; }

nav#primary { background:#72002c -webkit-gradient(linear, left top, left bottom, from(#ab0042), to(#390016)); padding:8px 24px 10px; margin:0 -24px; overflow:hidden; position:relative; height:30px; border-radius:0 0 16px 16px; }
nav#primary h1 { position:absolute; left:24px; margin:0; font-size:200%; }
nav#primary a { display:block; color:#f8b800; text-decoration:none; }
nav#primary a:hover { color:#fdedbf; }
nav#primary ul { float:right; }
nav#primary li { float:left; list-style:none; }
nav#primary ul a { display:block; padding:2px 10px; color:#e40058; background:#f8b800 -webkit-gradient(linear, left top, left bottom, from(#fcdc80), to(#f8b800)); border:1px solid #ba8a00; }
nav#primary ul a:hover { color:#72002c; }
nav#primary ul li:first-child a { border-radius:8px 0 0 8px; }
nav#primary ul li:last-child a { border-radius:0 8px 8px 0; }
