body#resume article#main {
  dl {
    padding-left: 100px;

    * { height: 18px; }

    dt {
      margin: 4px 0 -18px -100px;
      &:after { content: ': '; }
    }

    dd {
      display: inline-block;
      &:after { content: ','; }
      &.last:after { content: ''; }
    }
  }

  section.company {
    margin-bottom: 8px;

    h1 {
      font-size: 18px; display: inline;
    }

    h2 {
      font-style: italic;
      margin-bottom: 4px;
    }

    h3 {
      font-size: 14px;
    }

    .duration {
      display: inline;
      white-space: nowrap;
      &:before { content: '\2014  '; }
    }

    ul li {
      margin: 0 0 4px 20px;
      list-style: disc;
    }
  }
}
