@mixin vendor($attr, $vals...) {
  @each $vendor in webkit, moz, ms, o {
    -#{$vendor}-#{$attr}:$vals;
  }
  #{$attr}:$vals;
}

@mixin vendor-vals($attr, $ovals...) {
  @each $vendor in webkit, moz, ms, o {
    $vvals:();
    @each $oval in $ovals {
      $vval:unquote('-#{$vendor}-#{$oval}');
      $vvals:append($vvals,$vval,comma);
    }
    -#{$vendor}-#{$attr}:$vvals;
  }
  #{$attr}:$ovals;
}

@mixin background-gradient($from, $to) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));

  @each $vendor in webkit, moz, ms, o {
    background-image:-#{$vendor}-linear-gradient(top, $from, $to);
  }
  background-image:linear-gradient(top, bottom, $from, $to);
}

@mixin fake-element {
  content: '';
  display: block;
}
