---
---
{% capture title %}
  fengb.info
  {% if page.title %} &rarr; {{page.title}} {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang='en' class='no-js'>
  <head>
    <meta charset='utf-8' />
    <!--[if gte IE 8]><!-->
      {% stylesheet app %}
    <!--<![endif]-->
    <!--[if lt IE 8]>
      {% stylesheet blank %}
    <![endif]-->
    <link rel='icon' href='{% asset_path logo/32.png %}' sizes='32x32' />
    <link rel='icon' href='{% asset_path logo/48.png %}' sizes='48x48' />
    <link rel='icon' href='{% asset_path logo/64.png %}' sizes='64x64' />
    <link rel='icon' href='{% asset_path logo/128.png %}' sizes='128x128' />
    <link rel='alternate' href='/rss.xml' type='application/rss+xml' title='RSS' />
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>{{title | strip_newlines}}</title>
    <script>document.documentElement.className='js'</script>
    <!--[if lt IE 9]>
      {% javascript vendor/html5shiv-printshiv %}
    <![endif]-->
  </head>
  <body>
    <header id='top'>
      <nav><a href='/' class='icon-logo'>fengb</a></nav>
      <h1>fengb.info</h1>
    </header>

    <main id='content' class='p-blog'>
      <section>
        <h2>{{page.title}}</h2>
        {{content}}
      </section>

      <footer id='legal'>
        <span id='copy'>Copyright &copy; 2012-{{site.time | date:"%Y"}} Benjamin Feng</span>
        <span id='license'>This website is licensed under <a rel='license' href='http://creativecommons.org/licenses/by-nc-nd/3.0/' title='Creative Commons Attribution-NonCommercial-NoDerivs 3.0 license'>CC <abbr>BY-NC-ND</abbr> 3.0</a></span>
      </footer>
    </main>

    {% javascript app %}
    {% if page.tail %}
      {{page.tail}}
    {% endif %}
  </body>
</html>
