---
nav:
- label: fengb
  path: 'index.html'
  url: '/'
- label: Portfolio
  path: 'portfolio.html'
- label: Contact
  path: 'contact.html'
  link_attrs: data-mutiny-toggler='{"target":"#main", "preventDefault":true, "class":"contact"}'
---
<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html lang='en' class='no-js' id='ie6'>
<![endif]-->
<!--[if IE 7]>
<html lang='en' class='no-js' id='ie7'>
<![endif]-->
<!--[if IE 8]>
<html lang='en' class='no-js' id='ie8'>
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang='en' class='no-js'>
<!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' media='all' href='style/site.css' />
    <link rel='stylesheet' media='print' href='style/print.css' />
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>fengb{% if page.title %} &rarr; {{ page.title }}{% endif %}</title>
    <script>document.documentElement.className='js'</script>
    <!--[if lt IE 9]>
      <script src='vendor/html5shiv-printshiv.js'></script>
    <![endif]-->
  </head>
  <body>
    <section id='main'>
      <nav id='site'>
        <ul class='menu'>
          {% for item in page.nav %}
            <li class='{{item.label | downcase}}'>
              <a {% if item.path == page.path %}class='active'{% endif %}
                 href={% if item.url %}'{{item.url}}'{% else %}'/{{item.path}}'{% endif %}
                 {{ item.link_attrs }}>{{item.label}}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <article id='content' {% if page.class %}class='{{ page.class }}'{% elsif page.title %}class='{{ page.title | downcase }}'{% endif %}>
        {{ content }}
      </article>

      <footer id='legal'>
        <div id='copy'>Copyright &copy; 2012 Benjamin Feng</div>
        <div id='license'>This website is licensed under the <a rel='license' href='http://creativecommons.org/licenses/by-nc-nd/3.0/' title='Creative Commons Attribution-NonCommercial-NoDerivs 3.0 license'>Creative Commons <abbr>BY-NC-ND</abbr> 3.0 license</a></div>
      </footer>
    </section>

    <aside id='contact'>
      <h1>Contact</h1>
      {% include contact.html %}
    </aside>

    <!--[if gt IE 8]><!-->
      <script src='vendor/jquery.js'></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
      <script src='vendor/jquery-ie.js'></script>
    <![endif]-->

    <script src='vendor/mutiny.js'></script>
    <script src='script/site.js'></script>
    {% if page.tail %}
      {{ page.tail }}
    {% endif %}
  </body>
</html>
