---
nav:
- title: Blog
  url: '/blog.html'
- title: Contact
  url: '/contact.html'
---
<!DOCTYPE html>
<html lang='en' class='no-js'>
  <head>
    <meta charset='utf-8' />
    <!--[if gte IE 8]><!-->
      <link rel='stylesheet' media='all' href='/style/site.css' />
      <link rel='stylesheet' media='print' href='/style/print.css' />
    <!--<![endif]-->
    <!--[if lt IE 8]>
      <link rel='stylesheet' media='all' href='/style/blank.css' />
    <![endif]-->
    <link rel='icon' href='/logo/32.png' sizes='32x32' />
    <link rel='icon' href='/logo/48.png' sizes='48x48' />
    <link rel='icon' href='/logo/64.png' sizes='64x64' />
    <link rel='icon' href='/logo/128.png' sizes='128x128' />
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>fengb{% if page.title %} &rarr; {{ page.title }}{% endif %}</title>
    <script>document.documentElement.className='js'</script>
    <!--[if lt IE 9]>
      <script src='/vendor/html5shiv-printshiv.js'></script>
    <![endif]-->
  </head>
  <body>
    <header id='top'>
      <h1><a href='/' class='icon-logo'>fengb</a></h1>
      <nav id='site'>
        <ul class='menu'>
          {% for item in page.nav %}
            <li><a href='{{item.url}}' {{item.link_attrs}}
                   class='{{item.title | downcase}}{% if item.title == page.title %}
                          active{% endif %}'>{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main id='content' class='p-{{page.title | downcase}}'>
      <h1>fengb &rarr; {{page.title}}</h1>
      {{content}}
    </main>

    <footer id='legal'>
      <span id='copy'>Copyright &copy; 2012-{{site.time | date:"%Y"}} Benjamin Feng</span>
      <span id='license'>This website is licensed under the <a rel='license' href='http://creativecommons.org/licenses/by-nc-nd/3.0/' title='Creative Commons Attribution-NonCommercial-NoDerivs 3.0 license'>Creative Commons <abbr>BY-NC-ND</abbr> 3.0 license</a></span>
    </footer>

    <script src='/vendor/fasterclick.js'></script>
    {% if page.tail %}
      {{ page.tail }}
    {% endif %}
  </body>
</html>
