.p-index {
  @media only screen and (max-width: 599px) {
    aside {
      margin-left: -$constrained-padding;
      margin-right: -$constrained-padding;
      > section {
        display: table-cell;
        width: 50%;
        padding: 0 10px;
      }
    }
  }

  @media only screen and (min-width: 600px) {
    > section,
    > aside { display: table-cell; }
    aside {
      width: 260px;
      padding-left: 20px;
    }
  }

  aside {
    background: $unsat8;
    h2 { font-size: 1.3em; }
  }

  #contact {
    ul {
      list-style: none;
      margin: 0;
    }
    li { margin: 0; }
    a {
      height: 30px;

      &:before {
        @extend %icon;
        width: 18px;
        padding-right: 8px;
        font-size: 18px;
        position: relative;
        top: 2px;
      }

      @mixin contact-icon($icon, $color) {
        &:hover { color: $color; }
        &:before { content: $icon; }
      }

      &.phone    { @include contact-icon($icon-phone,    #40a540); }
      &.email    { @include contact-icon($icon-email,    #ad4b39); }
      &.twitch   { @include contact-icon($icon-twitch,   #6441a5); }
      &.github   { @include contact-icon($icon-github,   #4183c4); }
      &.linkedin { @include contact-icon($icon-linkedin, #0073b2); }
    }
  }
}
