.p-index {
  @media only screen and (max-width: 609px) {
    aside {
      margin: 0 (-$gutter) (-$gutter);
      border-spacing: $gutter;

      > section { display: table-cell; }
    }
  }

  @media only screen and (max-width: 450px) {
    #contact {
      width: 110px;
      a {
        position: relative;
        font-size: 0px;
        &:after {
          position: absolute;
          left: 24px;
          top: 3px;
          font-size: 16px;
        }
        &.phone:after { content: 'Phone' }
        &.email:after { content: 'Email' }
        &.github:after { content: 'Github' }
        &.linkedin:after { content: 'Linkedin' }
      }
    }
  }


  @media only screen and (min-width: 610px) {
    #blog { margin-right: 210px + $gutter; }
    #legal { right: 210px + $gutter; }

    aside {
      position: absolute;
      top: 0;
      right: $gutter;
      width: 210px;

      > section { margin-top: $gutter; }
    }
  }

  #blog > section {
    margin-bottom: $gutter;
    &:last-child { margin-bottom: 0; }
  }
  aside h2 { font-size: 1.3em; }

  #contact {
    ul {
      list-style: none;
      margin: 0;
    }
    li { margin: 0; }
    a {
      height: 30px;
      white-space: nowrap;

      &:before {
        @extend %icon;
        width: 18px;
        padding-right: 6px;
        font-size: 18px;
        position: relative;
        top: 2px;
      }

      @mixin contact-icon($icon, $color) {
        &:hover { color: $color; }
        &:before { content: $icon; }
      }

      &.phone    { @include contact-icon($icon-phone,    #40a540); }
      &.email    { @include contact-icon($icon-email,    #ad4b39); }
      &.twitch   { @include contact-icon($icon-twitch,   #6441a5); }
      &.github   { @include contact-icon($icon-github,   #4183c4); }
      &.linkedin { @include contact-icon($icon-linkedin, #0073b2); }
    }
  }
}
