//= depend_on_asset 'icons.eot'
//= depend_on_asset 'icons.svg'
//= depend_on_asset 'icons.ttf'
//= depend_on_asset 'icons.woff'


@import 'include/all';
@import 'widgets/all';

@mixin constrained {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

html {
  -webkit-text-size-adjust: 100%;
  background: $unsat8;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-size: 16px;
  color: $unsat2;
}

body {
  margin: 0;
}

#top {
  background: $unsat7;
  color: $unsat1;
  box-shadow: 0 1px 2px $unsat6;
  margin-bottom: 2px;
  nav {
    @include constrained;

    a.icon-logo {
      @include text-replace;
      float: left;
      color: $unsat9;
      width: 80px;
      height: 80px;
      margin: 2px 20px -12px -23px;
      background-size: 100%;
      background-image: $image-logo;
    }
  }

  h1 {
    @include constrained;
    height: 74px;
    line-height: 80px;
    font-size: 24px;
  }
}

main {
  @include constrained;
  position: relative;
  line-height: 1.3em;
  padding: $gutter;

  a {
    text-decoration: underline;
    &:hover { color: $unsat4; }
  }
  h2 { margin: 16px -1px; }
  dl { margin: 12px 0; }
  p { margin: 8px 0; }
  li { margin: 6px 0; }
  ul {
    list-style: disc;
    margin-left: 20px;
  }

  #legal {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-bottom: $gutter;
    font-size: 11px;
    line-height: 120%;
    color: $unsat6;
    text-align: center;

    #license a { text-decoration: underline; }

    @media only screen and (max-width: 399px) {
      #copy {
        display: block;
        margin-bottom: 4px;
      }
    }

    @media only screen and (min-width: 400px) {
      #copy:after {
        content: ' •';
        padding: 0 2px;
      }
    }
  }
}

@import 'pages/all';
