//= depend_on_asset 'icons.eot'
//= depend_on_asset 'icons.svg'
//= depend_on_asset 'icons.ttf'
//= depend_on_asset 'icons.woff'


@import 'include/all';
@import 'widgets/all';

@mixin separator-top {
  border-top: 1px solid $unsat8;
  box-shadow: inset 0 1px $prima9;
}

@mixin separator-bottom {
  border-bottom: 1px solid $unsat8;
  box-shadow: 0 1px $prima9;
}

@mixin constrained {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}


body {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-size: 16px;
  background: $unsat9;
  color: $unsat2;
  margin: 0;
}

#top {
  @include separator-bottom;
  position: relative;

  nav {
    @include constrained;

    a.icon-logo {
      @include text-replace;
      float: left;
      color: $unsat9;
      width: 80px;
      height: 80px;
      margin: 2px 20px -12px -22px;
      background-size: 100%;
      background-image: $image-logo;
    }
  }

  h1 {
    @include constrained;
    height: 74px;
    line-height: 80px;
    font-size: 24px;
  }
}

main {
  @include constrained;
  margin: 16px auto 12px;
  padding: 0 9px;
  line-height: 1.3em;
  overflow: hidden;

  a {
    text-decoration: underline;
    &:hover { color: $unsat4; }
  }
  h2 { margin: 16px -1px; }
  dl { margin: 12px 0; }
  p { margin: 8px 0; }
  li { margin: 6px 0; }
  ul {
    list-style: disc;
    margin-left: 20px;
  }
}

#legal {
  @include separator-top;
  margin-top: 12px;
  padding: 12px;
  font-size: 12px;
  text-align: center;

  a { text-decoration: underline; }
  #copy, a { display: block; }
  #copy { margin-bottom: 4px; }

  @media only screen and (min-width: 660px) {
    #copy, a { display: inline; }
    #copy:after { content: '.'; }
  }
}

@import 'pages/all';
