---
layout: default
title: Portfolio

portfolios:
- title: Websites
  images: [cashnetusa, poundstopocket, crusaderstorm]
- title: Designs
  images: [chaincontingency, reddev]
---
{% for portfolio in page.portfolios %}
  <section id='{{portfolio.title | downcase}}'>
    <h1>{{portfolio.title}}</h1>
    <ul>
      {% for image in portfolio.images %}
        <li><a href='/portfolio/{{image}}.png'><img class='thumb' src='/portfolio/{{image}}-thumb.png' alt='{{image}}' /></a></li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
