@font-face {
  font-family: Icons;
  src: url('icons.eot');
  src: url('icons.eot#iefix') format('embedded-opentype'),
       url('icons.woff') format('woff'),
       url('icons.ttf') format('truetype'),
       url('icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: Icons;
  font-weight: normal !important;
  font-style: normal !important;
  display: inline-block;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

$icon-logo:     "\e000";
$icon-phone:    "\e001";
$icon-email:    "\e002";
$icon-bubble:   "\e003";
$icon-twitch:   "\e004";
$icon-github:   "\e005";
$icon-linkedin: "\e006";
$icon-folder:   "\e007";

.icon-logo {
  background-image: url('data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgJy0vL1czQy8vRFREIFNWRyAxLjEvL0VOJyAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgdmVyc2lvbj0nMS4xJyB3aWR0aD0nMTYwJyBoZWlnaHQ9JzE2MCcgZmlsbD0nI2ZmYmYzMic+PGVsbGlwc2UgY3g9JzgwJyBjeT0nODAnIHJ4PSc3OC41JyByeT0nNzguNScgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2U9JyM4Njg1ODQnIGZpbGw9JyNmZmZmZmYnLz48cGF0aCBzdHJva2U9JyM0NjQ1NDQnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgZD0nTSA3OCw0MSBhIDMwLDQwIC0yLDAsMCAwLCA4OCBhIDMzLDQwIDIsMCwwIDAsLTg4IFogTSA0NSwxNyBjIDgsIDUxIDMyLCA1MCAzMiwgNTAgYyAyMCwgMSA2MCwtNTIgNjQsLTY2IGMgMCwgMjQgLTEyLCA0NyAtMTIsIDQ3IGMgLTI0LCA0NyAtNTAsIDQ3IC01MiwgNDcgYyAtMzIsIDAgLTM0LC0zOSAtMzQsLTM5IGMgLTIsLTE2IDIsLTM5IDIsLTM5IFonLz48L3N2Zz4gCg==');
  background-size: 100%;
}
