$prima6: #46a;
$prima2: #456;
$prima1: #123;

$secon8: #ffe3bc;
$secon3: #765;
$secon2: #432;
$secon1: #321;

$unsat9: #f4f5f6;
$unsat8: #e4e5e6;
$unsat5: #848586;
$unsat2: #444546;
$unsat1: #141516;
