$prima9: #fffefd;
$prima6: #ffbf32;
$prima5: #f4b012;

$secon8: #f0f4f8;
$secon7: #ccdcef;
$secon6: #c0c8da;
$secon3: #578;
$secon2: #234;
$secon1: #012;

$unsat9: #f6f5f4;
$unsat8: #e6e5e4;
$unsat7: #c6c5c4;
$unsat6: #969594;
$unsat4: #666564;
$unsat2: #464544;
$unsat1: #161514;
