$prima9: #fffefd;
$prima6: #ffbf32;
$prima5: #f4b012;
$prima3: #b3810c;

$secon8: #fff0e6;
$secon7: #efdccc;
$secon6: #dad0c0;
$secon3: #765;
$secon2: #432;
$secon1: #321;

$unsat9: #f4f5f6;
$unsat8: #e4e5e6;
$unsat7: #c4c5c6;
$unsat6: #949596;
$unsat4: #646566;
$unsat2: #444546;
$unsat1: #141516;
