.entry {
  .date {
    float: left;
    margin: 0;
  }
  .tags {
    list-style: none;
    margin: -1px 0 0 110px;
    li {
      display: inline-block;
      margin: 0;

      a {
        text-decoration: none;
        padding: 1px 3px 0;
        border: 1px solid $unsat7;
        background: $unsat8;

        &:hover {
          color: inherit;
          border-color: $unsat6;
        }
      }
    }
  }
}
