.panel {
  background: $unsat9;
  border: 1px solid $unsat7;
  margin: $gutter 0;
  padding: 18px 12px 12px;
  box-sizing: border-box;

  > *:first-child { margin-top: 0; }
  > *:last-child { margin-bottom: 0; }
}
