.tags {
  display: inline-block;
  position: relative;
  top: 1px;

  a {
    font-size: 12px;
    text-decoration: none;
    margin: 0 0 0 4px;
    padding: 1px 6px 0;
    vertical-align: top;
    border: 1px solid $unsat7;
    background: $unsat8;

    &:hover {
      color: inherit;
      border-color: $unsat6;
    }
  }
}
