.p-index {
  @media only screen and (max-width: 609px) {
    aside {
      margin-top: -$gutter;
      @include display-flex;

      #contact {
        @include flex(0 0 auto);
        margin-left: $gutter;
      }
    }
  }

  @media only screen and (max-width: 450px) {
    #contact {
      a {
        position: relative;
        font-size: 0px;
        &:after {
          position: absolute;
          left: 24px;
          top: 3px;
          font-size: 16px;
        }
        &.phone:after { content: 'Phone' }
        &.email:after { content: 'Email' }
        &.github:after { content: 'Github' }
        &.linkedin:after { content: 'Linkedin' }
      }
    }
  }


  @media only screen and (min-width: 610px) {
    #content {
      @include display-flex;

      aside {
        @include flex(0 0 210px);
        margin-left: $gutter;
      }
    }

    #legal {
      position: relative;
      right: 105px;
    }
  }

  aside h2 { font-size: 1.3em; }

  #contact {
    ul {
      list-style: none;
      margin: 0;
    }
    li { margin: 0; }
    a {
      height: 30px;
      white-space: nowrap;

      &:before {
        @extend %icon;
        width: 18px;
        padding-right: 6px;
        font-size: 18px;
        position: relative;
        top: 2px;
      }

      @mixin contact-icon($icon, $color) {
        &:hover { color: $color; }
        &:before { content: $icon; }
      }

      &.phone    { @include contact-icon($icon-phone,    #40a540); }
      &.email    { @include contact-icon($icon-email,    #ad4b39); }
      &.twitch   { @include contact-icon($icon-twitch,   #6441a5); }
      &.github   { @include contact-icon($icon-github,   #4183c4); }
      &.linkedin { @include contact-icon($icon-linkedin, #0073b2); }
    }
  }
}
