.p-index {
  @media only screen and (max-width: 529px) {
    aside {
      .group {
        margin-top: -$gutter;
        @include display-flex;

        #contact {
          @include flex(1 0 auto);
          margin-left: 0;
        }

        #projects {
          @include flex(1 0 auto);
        }
      }
    }
  }

  @media only screen and (max-width: 450px) {
    #contact {
      a {
        font-size: 0px;

        &:after { font-size: 16px; }
        &.phone:after { content: 'Phone' }
        &.email:after { content: 'Email' }
        &.github:after { content: 'Github' }
        &.linkedin:after { content: 'Linkedin' }
      }
    }
  }


  @media only screen and (min-width: 530px) {
    #content {
      @include display-flex;

      aside {
        @include flex(0 0 234px);
        margin-left: -$gutter;
      }
    }

    #legal {
      position: relative;
      right: 105px;
    }
  }

  aside {
    h2 { font-size: 1.3em; }
  }

  #projects {
    h2 { margin-bottom: 6px; }
    dt {
      font-weight: bold;
      display: inline;

      &:before {
        content: '';
        display: block;
      }

      a {
        width: 80px;
        display: inline-block;
        padding: 6px 0 4px;
      }
    }
  }

  #contact {
    h2 { margin-bottom: 6px; }
    a {
      padding: 6px 0 4px 24px;
      position: relative;

      &:before {
        @extend %icon;
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 6px;
      }

      @mixin contact-icon($icon, $color) {
        &:hover { color: $color; }
        &:before { content: $icon; }
      }

      &.phone    { @include contact-icon($icon-phone,    #40a540); }
      &.email    { @include contact-icon($icon-email,    #ad4b39); }
      &.twitch   { @include contact-icon($icon-twitch,   #6441a5); }
      &.github   { @include contact-icon($icon-github,   #4183c4); }
      &.linkedin { @include contact-icon($icon-linkedin, #0073b2); }
    }
  }
}
