@import 'icons';

#contact {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 150px;
  background: $secon8;
  border-left: 1px solid $secon1;

  ul {
    padding-top: 10px;
  }

  a {
    font-size: 20px;
    color: $secon1;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 10px 10px 40px;

    &:hover { color: $prima6; }
    &.twitch:hover { color: #6441a5; }
    &.github:hover { color: #4183c4; }
    &.linkedin:hover { color: #0073b2; }

    &:before {
      position: absolute;
      left: 15px;
    }

    &.phone:before {
      @extend %icon-before;
      content: "\e000";
    }

    &.email:before {
      @extend %icon-before;
      content: "\e001";
    }

    &.sms:before {
      @extend %icon-before;
      content: "\e002";
    }

    &.twitch:before {
      @extend %icon-before;
      content: "\e003";
    }

    &.github:before {
      @extend %icon-before;
      content: "\e004";
    }

    &.linkedin:before {
      @extend %icon-before;
      content: "\e005";
    }
  }

  &:before {
    @include fake-element;
    @include centered-height(44px);
    @include background-gradient($secon3, $secon2);
  }
}

body.contact {
  @include vendor(transform, translate(-130px, 0));
}

