@import 'themes';
@import 'icons';

#contact {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 180px;
  background: $secon8;

  h1 {
    @include centered-height(44px);
    @include background-gradient($secon3, $secon2);
    color: $unsat9;
    margin: 0 0 10px;
    text-align: center;
  }

  a {
    font-size: 16px;
    color: $secon1;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 10px 10px 34px;

    &:hover          { color: $prima6; }
    &.twitch:hover   { color: #6441a5; }
    &.github:hover   { color: #4183c4; }
    &.linkedin:hover { color: #0073b2; }

    &:before {
      @extend %icon;
      padding-right: 0.2em;
      position: absolute;
      left: 10px;
    }

    &.phone:before    { content: $icon-phone; }
    &.email:before    { content: $icon-email; }
    &.sms:before      { content: $icon-sms; }
    &.twitch:before   { content: $icon-twitch; }
    &.github:before   { content: $icon-github; }
    &.linkedin:before { content: $icon-linkedin; }
  }
}
