<!DOCTYPE HTML>
<html>
  <head>
    <title>TITLE</title>
    <link rel='stylesheet' type='text/css' media='all' href='style.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <nav id='primary'>
      <h1><a href='/'>TITLE</a></h1>
      <ul>
        <li class='resume'><a href='/resume.html'>RESUME</a></li>
        <li class='portfolio'><a href='/resume.html'>PORTFOLIO</a></li>
      </ul>
    </nav>

    <article id='body'>
      {{ content }}
    </article>

    <footer>&copy;2012 Benjamin Feng</footer>
  </body>
</html>
