<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class='no-js ie6' lang='en'>
<![endif]-->
<!--[if IE 7]>
<html class='no-js ie7' lang='en'>
<![endif]-->
<!--[if IE 8]>
<html class='no-js ie8' lang='en'>
<![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->
  <head>
    <link rel='stylesheet' type='text/css' media='all' href='style.css' />
    <link rel='stylesheet' type='text/css' media='print' href='print.css' />
    <script>document.documentElement.className=document.documentElement.className.replace('no-js','js')</script>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>fengb{% if page.title %} &rarr; {{ page.title }}{% endif %}</title>
  </head>
  <body>
    <header id='branding'>
      <h1><a href='/'>fengb</a></h1>
      {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
    </header>

    <nav id='site'>
      <ul>
        {% for item in site.pages %}
          {% if item.title %}
            <li class='{{ item.title | downcase }}'><a {% if item.title == page.title %}class='selected'{% endif %} href='{{ item.url }}'>{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <article id='main' {% if page.title %}class='{{ page.title | downcase }}'{% endif %}>
      {{ content }}
    </article>

    <aside id='contact'>
      <h2>Contact</h2>
      <ul>
        <li class='github'><a href='https://github.com/fengb'>Github</a></li>
      </ul>
    </aside>

    <footer id='copy'>&copy;{{ site.time | date:'%Y' }} Benjamin Feng</footer>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'></script>
    <script src='/script.js'></script>
  </body>
</html>
