@font-face {
  font-family: Icons;
  src: inline-font-files('icons.woff', woff);
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: Icons;
  font-weight: normal !important;
  font-style: normal !important;
  display: inline-block;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

$icon-bookmarks: "\e000";
$icon-phone:     "\e001";
$icon-email:     "\e002";
$icon-bubble:    "\e003";
$icon-twitch:    "\e004";
$icon-github:    "\e005";
$icon-linkedin:  "\e006";
$icon-folder:    "\e007";
$icon-bitcoin:   "\e008";

$image-logo: inline-image('logo/src.svg');
